<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>DIOR</title>
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body class="bg-black">
  <main class="main-contact index container">
    <div class="logo">
      <img src="img/logo.svg" alt="" />
    </div>

    <div class="top-image">
      <!-- <a href="https://www.kicks.se/dior/hudvard/extrem-global-anti-aging/capture-totale-day-creme-50-ml?utm_medium=website&utm_source=banner&utm_campaign=leverantor_se&utm_term=2041_dio_sampling"
        target="_blank"> -->
      <img src="./img/jadore-infinissime.jpeg" alt="jadore-infinissime">
      <!-- </a> -->
    </div>

    <p class="text-center">
      The House of Dior is pleased to introduce you <br>
      its new creation
    </p>

    <h5>
      J’ADORE <br>
      EAU DE PARFUM INFINISSIME
    </h5>

    <p class="text-center">
      A fragrance with an endless burst of <br>
      flowers released in a bouquet that diffuses <br>
      their scent infinitely. Familiar yet <br>
      surprising, like a sensual sister of the sunny <br>
      J’adore eau de parfum, the fragrance <br>
      becomes "infinissime," like its infinite trail.
    </p>

    <p class="text-center">
      Fill in the information below to receive Dior <br>
      new creation, J’Adore Eau de Parfum <br>
      Infinissime, in a complementary sample (1 ml).
    </p>

    <form action="step_2.html" method="get" class="container user-form">

      <div class="form-row fullwidth">
        <div class="form-group">
          <input class="form-input" name="first_name" type="text">
          <label class="form-label" for="subscribe">First name</label>
        </div>
      </div>

      <div class="form-row fullwidth">
        <div class="form-group">
          <input class="form-input" name="last_name" type="text">
          <label class="form-label" for="subscribe">Last name</label>
        </div>
      </div>

      <div class="form-row fullwidth">
        <div class="form-group">
          <input class="form-input" name="address" type="text">
          <label class="form-label" for="address">Address</label>
        </div>
      </div>

      <div class="form-row fullwidth">
        <div class="form-group">
          <input class="form-input" name="address2" type="text">
        </div>
      </div>

      <div class="form-row two-column">
        <div class="form-group">
          <input class="form-input" name="city" type="text">
          <label class="form-label" for="city">City</label>
        </div>
        <div class="form-group">
          <input class="form-input" name="zip" type="text">
          <label class="form-label" for="zip">Post code</label>
        </div>
      </div>

      <div class="form-row fullwidth">
        <div class="form-group">
          <input class="form-input" name="email" type="email" id="email">
          <label class="form-label" for="email">Email address</label>
        </div>
      </div>

      <div class="cards-wrap">
        <div class="card">
          <div class="card__img">
            <img src="img/JADORE_INFINISSIME_Fleurs 1.png" alt="Grasse Tuberose">
          </div>
          <div class="card__text">
            <h2>
              Grasse Tuberose
            </h2>
            <p>
              Refreshed by <span class="bold">Pink <br>
                Peppercon</span> and a juicy <br>
              <span class="bold">Blood Orange</span>,
              <span class="bold">Grasse <br>
                Tuberose</span> is the perfumers’ <br>
              queen and absolute symbol <br>
              of feminility.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src="img/JADORE_INFINISSIME_Fleurs 2.png" alt="Centifolia Rose">
          </div>
          <div class="card__text">
            <h2>
              Centifolia Rose
            </h2>
            <p>
              Exuberant and sensual <br>
              <span class="bold">Centifolia Rose</span> spreads its <br>
              unique and honeyed <br>
              intensity that seems spiked <br> with pepper.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card__img">
            <img src="img/JADORE_INFINISSIME_Fleurs 3.png" alt="Jasmin Sambac">
          </div>
          <div class="card__text">
            <h2>
              Jasmin Sambac
            </h2>
            <p>
              An effusive and instantly <br>
              floral, <span class="bold">Jasmine Sambac</span> <br>
              with an oranget facet, <br>
              accompanied by a fresh <br>
              and incisive
              <span class="bold">Lily of the valley<br>
                accord</span>.
            </p>
          </div>
        </div>
      </div>

      <div class="btns full">
        <label class="btn disabled" id="customer_form_label">
          <input type="submit" id="customer_form_submit" disabled />
          Continue
        </label>
      </div>
    </form>
  </main>
  <script src="js/libs.min.js"></script>
  <script src="./libs/moment.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>